{% extends "Restaurant_Balfisot_Categories_Base.html.twig" %}

{% block body %}

    <nav class="navbar navbar-expand-lg body-tertiary position-relative">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink1" href="{{ path("Categories") }}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink2 " href="{{ path("Register") }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink3" href="{{ path("Profile") }}">Profile</a>
                    </li>
                    <a href= "{{ path('Home') }}"><img class= "nbLogo position-relative" src="/Pictures/Restaurant_Balfisot_Logo_(Picture_version).png"></a>
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink4" href="{{ path("Order") }}">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light list-unstyled position-relative nLink5" href="{{ path("Orders") }}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light list-unstyled position-relative nLink6" href="{{ path("Contact") }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink7" href="{{ path("About Us") }}">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


        {% for category in categories %}
            {% set cardClass = cycle(['card3', 'card4', 'card5', 'card6', 'card7', 'card8'], loop.index0) %}
       {% if category.name == 'Appetizers' %}
   <a href="{{ path('Appetizers') }}">
    {% elseif category.name == 'Main course' %}
    <a href="{{ path('Main Course') }}">
        {% elseif category.name == 'Desserts' %}
        <a href="{{ path('Desserts') }}">
        {% elseif category.name == 'Breakfast' %}
        <a href="{{ path('Breakfast') }}">
                {% elseif category.name == 'Snacks' %}
        <a href="{{ path('Snacks') }}">
                {% elseif category.name == 'Drinks' %}
        <a href="{{ path('Drinks') }}">
                  {% endif %}
            <div class="card {{ cardClass }}">
                        <div class="card-body">
                            {% set textClass = cycle(['heading3', 'heading4', 'heading5', 'heading6', 'heading7', 'heading8'], loop.index0) %}
                            <h1 class="{{ textClass }} position-relative">{{ category.name }}</h1>
                        </div>
                    </div>
                </a>
        {% endfor %}



    <footer class= "footer position-relative">
        <p class= "text3 text-light position-relative">©</p>
        <p class= "text4 text-light position-relative">2023</p>
        <img class= "ftLogo position-relative" src="/Pictures/Restaurant_Balfisot_Logo_(Picture_version).png">
        <a href="https://www.facebook.com/"><img class= "fbLogo position-relative" src= "Pictures/FBLogo.png"></a>
        <a href="https://www.instagram.com/"><img class= "igLogo position-relative" src= "Pictures/IGLogo.png"></a>
        <a href= "https://twitter.com/home"><img class= "twLogo position-relative" src="Pictures/TWLogo.png"></a>
    </footer>

{% endblock %}



