{% extends "Restaurant_Balfisot_Drinks_Base.html.twig" %}

{% block body %}

    <nav class="navbar navbar-expand-lg body-tertiary position-relative">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink1" href="{{ path("Categories") }}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink2 " href="{{ path("Register") }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink3" href="{{ path("Profile") }}">Profile</a>
                    </li>
                    <a href= "{{ path('Home') }}"><img class= "nbLogo position-relative" src="/Pictures/Restaurant_Balfisot_Logo_(Picture_version).png"></a>
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink4" href="{{ path("Order") }}">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light list-unstyled position-relative nLink5" href="{{ path("Orders") }}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light list-unstyled position-relative nLink6" href="{{ path("Contact") }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light list-unstyled position-relative nLink7" href="{{ path("About Us") }}">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

     {% for drink in drinks  %}
{% set cardClass = cycle(['card34', 'card35', 'card36', 'card37', 'card38'], loop.index0) %}
<a class= "text-decoration-none text-dark" href="{{ path('Order') }}">
<div class="card {{ cardClass }}">
    <div class="card-body">
         {% if drink.name == 'Ayran' %}
              <img class= "picture25 position-relative"  src=  "{{ asset('Pictures/Ayran.jpg') }}">
              {% elseif drink.name == 'Sharbat' %}
              <img class= "picture26 position-relative"  src= "{{ asset('Pictures/Sharbat.jpg') }}">
              {% elseif drink.name == 'Water' %}
               <img class= "picture27 position-relative" src="{{ asset('Pictures/Water.jpg') }}">
                {% elseif drink.name == 'Tea' %}
               <img class= "picture28 position-relative" src= "{{ asset('Pictures/Tea.jpg') }}">
                {% elseif drink.name == 'Terebinth coffee' %}
               <img class= "picture29 position-relative" src= "{{ asset('Pictures/Terebinth_coffee.jpg') }}">
                {% endif %}
  {% set textClass = cycle(['heading34', 'heading35', 'heading36', 'heading37', 'heading38'], loop.index0) %}
                        <h2 class="{{ textClass }} position-relative">{{ drink.name }}</h2>
        {% set descriptionClass = cycle(['text49', 'text50', 'text51', 'text52', 'text53'], loop.index0) %}
                    <p class= "{{ descriptionClass }} position-relative">{{ drink.description }}</p>
        {% set priceClass = cycle(['text54', 'text55', 'text56', 'text57', 'text58'], loop.index0) %}
        <p class= "{{ descriptionClass }} position-relative">{{ drink.price }}</p>
    </div>
</div>
</a>
{% endfor %}

    <footer class= "footer position-relative">
        <p class= "text3 text-light position-relative">©</p>
        <p class= "text4 text-light position-relative">2023</p>
        <img class= "ftLogo position-relative" src="/Pictures/Restaurant_Balfisot_Logo_(Picture_version).png">
        <a href="https://www.facebook.com/"><img class= "fbLogo position-relative" src= "Pictures/FBLogo.png"></a>
        <a href="https://www.instagram.com/"><img class= "igLogo position-relative" src= "Pictures/IGLogo.png"></a>
        <a href= "https://twitter.com/home"><img class= "twLogo position-relative" src="Pictures/TWLogo.png"></a>
    </footer>

{% endblock %}